<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/css/font-awesome.min.css">

    <title>Create vocabulary</title>
</head>

<body>
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Upload flask card</h3>
                    </div>
                    <div class="panel-body">
                        <!-- <form role="form"> -->
                        <div class="form-group">
                            <label for="name">Tên</label>
                            <input name="name" type="text" class="form-control" id="name-vocabulary" placeholder="Tên từ vựng">
                        </div>
                        <div class="form-group">
                            <label for="translate">Dịch</label>
                            <input name="translate" type="text" class="form-control" id="translate-vocabulary" placeholder="Dịch nghĩa">
                        </div>
                        <div class="form-group">
                            <label for="audio">Âm Thanh</label>
                            <input name="audio" type="file" class="form-control" id="audio-vocabulary">
                            <button id="btn-upload-audio" type="button" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Uploading"
                                style="margin-top: 3px">Upload Âm thanh</button>
                            <button id="btn-delete-audio" type="button" class="btn btn-danger" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Deleting"
                                style="margin-top: 3px">Delete Âm thanh</button>
                            <span id="audio-s3-key" class="label label-success"></span>
                            <span id="upload-audio-err-msg" class="label label-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Hình ảnh</label>
                            <input name="image" type="file" class="form-control" id="image-vocabulary">
                            <button id="btn-upload-image" type="button" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Uploading"
                                style="margin-top: 3px">Upload Hình ảnh</button>
                            <button id="btn-delete-image" type="button" class="btn btn-danger" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Deleting"
                                style="margin-top: 3px">Delete Hình ảnh</button>
                            <span id="image-s3-key" class="label label-success"></span>
                            <span id="upload-image-err-msg" class="label label-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="video">Video</label>
                            <input name="video" type="file" class="form-control" id="video-vocabulary">
                            <button id="btn-upload-video" type="button" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Uploading"
                                style="margin-top: 3px">Upload Video</button>
                            <button id="btn-delete-video" type="button" class="btn btn-danger" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Deleting"
                                style="margin-top: 3px">Delete Video</button>
                            <span id="video-s3-key" class="label label-success"></span>
                            <span id="upload-video-err-msg" class="label label-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="category">Chủ đề từ vựng</label>
                            <select name="category" id="flashcard_category" class="form-control">
                                <!-- <option value="1">Động vật</option> -->
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">Mô tả</label>
                            <textarea name="description" class="form-control" rows="3" id="description-vocabulary"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit-data">Submit</button>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/lib/js/jquery-3.3.1.min.js"></script>
    <script src="static/lib/js/bootstrap.min.js"></script>
    <script src="static/lib/js/aws-sdk-2.218.1.min.js"></script>
    <script src="static/lib/js/axios.min.js"></script>
    <script src="static/js/create_new_vocabulary.js"></script>
</body>

</html>