<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="static/icon.ico">
    <link rel="stylesheet" href="static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home page</title>
</head>

<body>
    <div class="container">
        <div class="panel panel-primary" style="margin-top: 50px">
            <div class="panel-heading">
                <h3 class="panel-title">List command upload</h3>
            </div>
            <div class="panel-body">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Book</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-primary" href="/create-book" role="button">Thêm mới sách</a>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lession</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-primary" href="/create-lession" role="button">Thêm mới bài học</a>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flash Card</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-primary" href="/create-flashcard" role="button">Thêm mới Flash card</a>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Upload Command</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-primary" href="/create-grammar" role="button">Thêm mới cấu trúc</a>
                        <a class="btn btn-primary" href="/create-conversation" role="button">Thêm mới hội thoại</a>
                        <a class="btn btn-primary" href="/create-vocabulary" role="button">Thêm mới từ vựng</a>
                        <a class="btn btn-primary" href="/create-expansion" role="button">Thêm mới mở rộng</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="static/lib/js/jquery-3.3.1.min.js"></script>
    <script src="static/lib/js/bootstrap.min.js"></script>
    <script src="static/lib/js/axios.min.js"></script>
    <script src="static/js/create_grammar.js"></script>
</body>

</html>